@import 'bootstrap-reboot.min.css';
@import 'bootstrap-grid.min.css';
@import 'vars.scss';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: $lightest;
	color: $darkest;
	font-family: times, serif;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	@include smText;
}

body {
	display: table;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
h1 {
	@include xxlText;
	// @include displayBold;
	font-weight: normal;
	@include md {
		@include xlText;
	}
}
h2 {
	@include xlText;
	// @include displayBold;
	font-weight: normal;
	@include md {
		@include lgText;
	}
}
h3 {
	@include lgText;
	// @include displayReg;
	font-weight: normal;
}
h4 {
	@include mdText;
	font-weight: normal;
}
h5 {
	@include smText;
	font-weight: normal;
}

a, a:hover, a:visited {
	@include underline($lightest, $highlight);
	color: $darkest;
}
a:hover {
	@include underline($lightest, $highlight);
	&.cool, &.warm {
		color: $darkest !important;
	}
}

p {
	margin: 0 0 1rem 0;
	&:last-of-type {
		margin: 0;
	}
}

img {
	width: 100%;
}

.mobile {
	@include hide;
}

@include sm {
	.mobile {
		@include show;
	}
	.desktop {
		@include hide;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0 0 1rem 0;
}

header#header {
	padding: 60px;
}

#logo {
	h1.logo {
		height: 75px;
		margin: 0;
		display: inline-block;
		line-height: 0;
	}
	a {
		background: none;
	}
	img {
		width: auto;
		height: 100%;
	}
}

#beds-nav {
	
}

#intro-text {
	font-size: 2vw;	
	line-height: 1.2em;
	em:hover {
		opacity: .5;
		cursor: help;
	}
	@include lg {
		@include lgText;
	}
}

#beds-map {
	// width: 100%;
	position: relative;
	svg {
		width: 100%;
		height: auto;
		// opacity: 0;
		transition: opacity 200ms ease-in-out;
		&.show {
			opacity: 1;
		}
		#beds {
			polygon {
				fill: $lightest;
			}
			> g {
				&:hover {
					cursor: pointer;
					polygon:last-child {
						fill: $darkest;
					}
				}
			}
		}
	}
}

main {
	padding: 60px;
}

#tests-info {
	width: 100vw;
	height: 70vh;
	margin: 8rem 0;
	position: relative;
	.oval {
		display: none;
		width: 80%;
		height: 80%;
		position: absolute;
		left: 10%;
		top: 10%;
		border: .25rem solid rgba($darkest,.25);
		border-radius: 100%;
	}
}
.test-block {
	position: absolute;
	.test-title {
		font-style: italic;
	}
	&.microbiometer {
		left: 18%;
    top: 10vh;
	}
	&.brix {
		left: 50%;
		top: 4vh;
	}
	&.ph {
		right: 25%;
		top: 8vh;
	}
	&.temperature {
		left: 25%;
		bottom: 5vh;
	}
	&.moisture {
		right: 25%;
		bottom: 6vh;
	}
	&.nodules {
		right: 7%;
		top: 25vh;
	}
	&.rhizosheaths {
		left: 5%;
		top: 40vh;
	}
	&#tests-title {
		width: 100%;
		left: 0;
    top: 30vh;
    text-align: center;
    pointer-events: none;
	}
}

 //graph
section {
	width: 100%;
	margin: 5rem auto 1rem auto;
	padding: 4rem 0;
	border-top: .5rem solid $darkest;
	position: absolute;
	@include hide;
	&.show {
		position: unset;
		left: unset;
	}
}
.section-title {
	text-align: center;
	margin: 0 0 2rem 0;

	&::before {
		content: 'Bed No. ';
	}
}

.graphs-wrapper {
	.test {
		margin: 2rem 0 8rem 0;
	}
}

.test-title {
	text-align: center;
	margin: 0 0 2rem 0;
}
.test-about {
	margin: 2rem 0 0 0;
	@include mdText;
}
// .graph.col {
// 	display: flex;
// 	flex-direction: column;
// 	margin-bottom: 5rem;
// }
.graph-title {
	text-align: center;
}
.bed-graph {
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 60%;
	display: inline-block;
  vertical-align: top;
  overflow: visible;
	svg {
		width: calc(100% - 2rem);
		height: auto;
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		// pointer-events: none;
		.axes {
			stroke-width: 3;
		}
		.line {
		  stroke: black;
		  stroke-width: 5;
		  fill: transparent;
		  clip-path: url(#clip);
		  transition: 200ms stroke-width ease-in-out, 200ms opacity ease-in-out;
		  &.hover, &:hover {
		  	cursor: pointer;
		  	stroke-width: 8;
		  }
			&.microbiometer {
				stroke: $microbiometer;
			}
			&.brix {
				stroke: $brix;
			}
			&.ph {
				stroke: $ph;
			}
			&.temperature {
				stroke: $temperature;
			}
			&.moisture {
				stroke: $moisture;
			}
			&.nodules {
				stroke: $nodules;
			}
			&.rhizosheaths {
				stroke: $rhizosheaths;
			}
		}
		&.hover {
			.line:not(:hover):not(.hover) {
				opacity: .5;
			}
		}
		text {
			font-weight: bold;
			@include smText;
		}
	}
}
.buttons-wrapper {
	display: flex;
	justify-content: center;
}
.button {
	// margin: .5rem 1.25rem;
	// font-weight: 900;
}
.filter-button {
	position: relative;
	padding: .25em .25em .25em 1.25em;
	@include lgText;
	&::before {
		content: '';
		width: 1em;
		height: 1em;
		position: absolute;
		left: 0;
		top: .35em;
		border: 5px solid;
		margin: 0 .25em 0 0;
		border-radius: 25%;
	}
	&:hover {
		color: black;
		cursor: pointer;
		// font-weight: bold;
		&::before {

		}
	}
	&.microbiometer {
		color: $microbiometer;
		&:hover::before {
			background-color: $microbiometer;	
		}
	}
	&.brix {
		color: $brix;
		&:hover::before {
			background-color: $brix;	
		}
	}
	&.ph {
		color: $ph;
		&:hover::before {
			background-color: $ph;	
		}
	}
	&.temperature {
		color: $temperature;
		&:hover::before {
			background-color: $temperature;	
		}
	}
	&.moisture {
		color: $moisture;
		&:hover::before {
			background-color: $moisture;	
		}
	}
	&.nodules {
		color: $nodules;
		&:hover::before {
			background-color: $nodules;	
		}
	}
	&.rhizosheaths {
		color: $rhizosheaths;
		&:hover::before {
			background-color: $rhizosheaths;	
		}
	}
}

.label {
	display: none;
	background-color: $darkest;
	color: $lightest;
	padding: .125em .25em;
	position: absolute;
	pointer-events: none;
	font-family: sans-serif;
	font-weight: bold;
	@include mdText;
	&.show {
		display: block;
	}
}