@import 'bootstrap-reboot.min.css';
@import 'bootstrap-grid.min.css';
@import 'vars.scss';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: $lightest;
	color: $dark;
	font-family: sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	@include smText;
}

body {
	display: table;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
h1 {
	@include xxlText;
	// @include displayBold;
	font-weight: 900;
	@include md {
		@include xlText;
	}
}
h2 {
	@include xlText;
	// @include displayBold;
	font-weight: 900;
	@include md {
		@include lgText;
	}
}
h3 {
	@include lgText;
	// @include displayReg;
	font-weight: 900;
}
h4 {
	@include mdText;
	font-weight: normal;
}
h5 {
	@include smText;
	font-weight: normal;
}

a, a:hover, a:visited {
	@include underline($light, $cool);
	color: $dark;
}
a:hover {
	@include underline($light, $warm);
	&.cool, &.warm {
		color: $dark !important;
	}
}

p {
	margin: 0 0 1rem 0;
	&:last-of-type {
		margin: 0;
	}
}

img {
	width: 100%;
}

.mobile {
	@include hide;
}

@include sm {
	.mobile {
		@include show;
	}
	.desktop {
		@include hide;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0 0 1rem 0;
}

header {
	padding: 1rem;
}

 //graph
section {
	width: calc(100% - 10rem);
	margin: 5rem auto 10rem auto;
	padding: 2rem;
	border: 1rem inset black;
	// background-color: wheat;
	// &:nth-child(4n+1) {
	// 	transform: rotate(2deg);
	// }
	// &:nth-child(4n+2) {
	// 	transform: rotate(-1deg);
	// }
	// &:nth-child(4n+3) {
	// 	transform: rotate(1deg);
	// }
	// &:nth-child(4n+4) {
	// 	transform: rotate(-2deg);
	// }
}
.graph-title {
	text-align: center;
	margin: 0 0 2rem 0;
}
.graph.col {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}

.graph-title {
	text-align: center;
}
.graph-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 60%;
	display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
svg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	// pointer-events: none;
	.area {
	  fill: black;
	  clip-path: url(#clip);
	}
}
.graph {
	&.microbiometer {
		svg .area {
			fill: $microbiometer;
		}
	}
	&.brix {
		svg .area {
			fill: $brix;
		}
	}
	&.ph {
		svg .area {
			fill: $ph;
		}
	}
	&.temperature {
		svg .area {
			fill: $temperature;
		}
	}
	&.moisture {
		svg .area {
			fill: $moisture;
		}
	}
	&.nodules {
		svg .area {
			fill: $nodules;
		}
	}
	&.rhizosheaths {
		svg .area {
			fill: $rhizosheaths;
		}
	}
}
.buttons-wrapper {
	display: flex;
	justify-content: center;
}
.button {
	margin: .5rem 1rem;
	font-weight: 900;
}